@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root{
  --base-color:#fff;
  --primary-color: #191645;
  --secondary-color: #43C6AC;
}
body{
  margin: 0;
  width: 100%;
  background-color: #F5FEFD;
  font-family: Poppins;
}